<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esdonmez.esd.longitudinalshipstability">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme.Base">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LCBActivity" />
        <activity android:name=".LOAActivity" />
        <activity android:name=".LCGActivity" />
        <activity android:name=".LCFActivity" />
        <activity android:name=".TrimActivity" />
        <activity android:name=".TrimChangeActivity" />
        <activity android:name=".LongitudinalStabilityActivity" />
        <activity android:name=".DimensionsOfShipsActivity" />
        <activity android:name=".TransverseStabilityActivity" />
        <activity android:name=".LongitudinalIntroductionActivity" />
        <activity android:name=".BreadthActivity" />
        <activity android:name=".DepthActivity" />
        <activity android:name=".DraughtActivity" />
        <activity android:name=".CenterOfBuoyancyActivity" />
        <activity android:name=".CenterOfGravityActivity" />
        <activity android:name=".TransverseStabilityIntroductionActivity" />
        <activity android:name=".KGKBActivity" />
        <activity android:name=".MetacentreMetacentricHeightActivity" />
        <activity android:name=".RightingArmActivity"></activity>
    </application>

</manifest>